{% extends 'main/layout.html'%}

{% block title %}Форма для добавления стихов{% endblock %}


<!--шаблонизатор джинджа-->
{% block content %}
    <div class="features">
        <h1>Добавь свой стих</h1>
      <form method="post">
          {% csrf_token %}
          {{ form.title }}<br>
          {{ form.anons }}<br>
          {{ form.full_text }}<br>
          {{ form.date }}<br>
          <span>{{ error }}</span>
          <button class="btn btn-info" type="submit">Добавить стих</button>
      </form>
    </div>
{% endblock %}