{% extends 'main/layout.html' %}
{% block title %}Домашняя страница{% endblock %}

{% block content %}

<div class="features">
    <h1>"{{ request.user }}"</h1>
    <form method="post" action="{% url 'create' %}">
          {% csrf_token %}
          {{ form.title }}<br>
          {{ form.anons }}<br>
          {{ form.full_text }}<br>
          {{ form.date }}<br>
          <span>{{ error }}</span>
          <div class="center-button">
            <button class="btn btn-info" type="submit">Добавить стих</button>
        </div>
        <div class="center-button_1">
             <a href="{% url 'news_home' %}" class="btn btn-danger" type="submit">Перейти редактировании</a>
        </div>
      </form>
</div>
{% endblock %}
