{% extends 'main/layout.html'%}

{% block title %}something{% endblock %}


<!--шаблонизатор джинджа-->
{% block content %}
    <div class="features">
        <h1>Релиз стихов</h1>

        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                    <a href="{% url 'news_detail' el.id %}" class="btn btn-warning">Подробнее</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Ждем когда на автора ниспадет вдохновенье</p>
        {%endif%}
{# комм #}

    </div>
{% endblock %}