{% extends 'main/layout.html' %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
    <div class="features">
        <h1>About me</h1>
        <div class="profile-info">
            <img src="{% static 'main/img/me.png' %}" alt="me" class="me-icon">
            <p><strong>Имя:</strong> Айкɵл</p>
            <p><strong>Возраст:</strong> Не важно сколько мне лет</p>
            <p><strong>Instagram:</strong> aikolskiy</p>
            <p><strong>О себе:</strong> Я люблю писать стихи и думать во что поиграть потом.</p>
        </div>
        <div class="happy-info">
            <h1>Jar of</h1>
            <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Happiness</h3>
        </div>
            <img src="{% static 'main/img/jarss.png' %}" alt="me" class="jar-icon">

    </div>
{% endblock %}
