body {
    background: #BBB8AF;
    margin: 0;
}

aside {
    position: fixed; /* Фиксированное позиционирование */
    top: 0; /* Отступ сверху */
    left: 0; /* Отступ слева */
    background: #F1EFE7;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #000000;
    border-right: 5px solid #4d4d4d;
    overflow-y: auto; /* Включение вертикальной прокрутки */
}

aside img {
    width: 200px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 30px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}
aside ul li {
    color: #000000;
    display: block;
    margin-top: 10px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    margin-left: 25%; /* Отступ слева, чтобы не перекрывал sidebar */
    color: #000000;
    margin-top: 100px;
    text-align: center;
    width: 75%;
    padding: 20px; /* Добавление отступа для контента */
    box-sizing: border-box; /* Учитываем отступ внутреннего контента */
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

.alert-warning {
    clear: both;
    width: 400px;
    margin: 20px auto;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
